<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="css/materialize.css">
        <title>Showing some shit</title>
    </head>
    <body>
        <h1>Showing some shit</h1>
        <div id="putShitHere">

        </div>
        <script src="js/jquery-3.1.1.min.js"></script>
        <script src="js/materialize.js"></script>
        <script src="js/showPhotos.js"></script>
    </body>
</html>